%h1 管理用の自分のテキストレポジトリ一覧

%table
  %tr
    %th Repository type
    %th Name
    %th Description
    %th
    %th
    %th

  - @text_repositories.each do |text_repository|
    %tr
      %td= text_repository.repository_type.name[current_locale]
      %td= text_repository.name
      %td= text_repository.description
      %td= link_to 'Show', text_repository_path(text_repository)

%br
