%h1 Listing branches

%table
  %tr
    %th Repository
    %th Name
    %th
    %th
    %th

  - @branches.each do |branch|
    %tr
      %td= branch.repository_id
      %td= branch.name
      %td= link_to 'Show', admin_branch_path(branch)
      %td= link_to 'Destroy', admin_branch_path(branch), method: :delete, data: { confirm: 'Are you sure?' }

%br

//= link_to 'New Branch', new_branch_path
