.control-group
  %label.control-label 公開設定
  .controls
    - RepositoryType.all.each do |repo_type|
      = f.label repo_type.name[current_locale], class: "radio inline"
      = f.radio_button :repository_type_id,repo_type.id
