.control-group
  %label.control-label カテゴリ
  .controls
    - TextCategory.all.each do |category|
      = f.label category.name[current_locale], class:"radio inline"
      = f.radio_button :category_id, category.id
