%legend フィード
= render 'timeline/feed_header'
%table
  - @feeds.each do |feed|
    %tr
      - if feed.is_a?(Tweet)
        %td= raw(feed.body)
      - else
        %td= raw(feed.body[current_locale])
