.navbar
  .navbar-inner
    %ul.nav
      %li.divider-vertical= link_to "Feed", timeline_feeds_path
      %li.divider-vertical= link_to "News", timeline_news_index_path
      %li.divider-vertical= link_to "Tweet", timeline_tweets_path
