%h1 Listing kommits

%table
  %tr
    %th Message
    %th Revision
    %th
    %th
    %th

  - @kommits.each do |kommit|
    %tr
      %td= kommit.message
      %td= kommit.revision
      %td= link_to 'Show', branch_kommit_path(params[:branch_id], kommit)

%br

