#repository_header.span9
  %h4
    = link_to user.display_name, user_path(@user)
    \/
    = link_to repository.name, admin_repository_path(repository)
    @
    = link_to branch.name, admin_branch_path(branch)

