- if branch.has_mergeable_branch?
  = link_to "Merge", new_admin_branch_merge_path(branch), class:"btn btn-primary"

%br
= link_to "Create Branch", new_admin_branch_checkout_path(branch), class:"btn btn-primary"
