.tabbable
  %ul.nav.nav-tabs#tab_menu
    %li.active
      %a{href:"#tab1", "data-toggle"=>"tab1"}Posts
    %li
      %a{href:"#tab2", "data-toggle"=>"tab2"}Commits
    %li
      %a{href:"#tab3", "data-toggle"=>"tab3"}Branches
  .tab-content
    .tab-pane.active#tab1
      = render 'admin/posts/list', branch:branch
    .tab-pane#tab2
      = render 'admin/kommits/list', branch:branch
    .tab-pane#tab3
      = render 'admin/branches/list', branch:branch
