#main_data
  = render 'admin/branches/list_dropdown', repository:@repository
  %table.table
    %tr
      %td
        作成日
      %td
        = @branch.created_at.strftime("%g/%m/%d")
    %tr
      %td
        最終更新日
      %td
        = @branch.updated_at.strftime("%g/%m/%d")
%hr
= render 'admin/branches/tab', branch:@branch
