- if user_signed_in? && current_user != user
  - if current_user.follows? user
    = button_to "Unfollow", following_path(user), method: :delete
  - else
    = button_to "Follow", user_followings_path(user), method: :post
